nav.navbar.navbar-default {
    margin-bottom: 0;
  }

  .navbar {
    margin-bottom: 0;
    background-color: #ffeedb;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #4c3b4d !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #a53860 !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #4c3b4d !important;
  }