.jumbotron {
    background-color: #4c3b4d;
    color: #ffffff;
    text-align: center;
    padding: 100px 25px;
  }
  
  .container-fluid {
    padding: 60px 50px;
    text-align: center;
   }
   
   
  
  .light-link {
  color: white;
  }

  .dark-link {
      color:#a53860;
      font-size: 18px;
  }
  .dark-link:hover{
    color:#4c3b4d
  }

  .light-link:hover{
    color:white;
    text-decoration: none;    
  }

  .button {
    background-color: #a53860; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:4px
  }

  .button:hover {
    background-color: #ada8b6; 
    color: #4c3b4d;
    
  }
  
  .pink-text {
   color: a53860;
  }
  
  .bg-light {
    background-color: #ada8b6;
    color: white;
  }
  

  .first, .second{
    margin-top: 20px;
  }

  .title{
    font-size: 22px;
  }
  .text{
    font-size: 18px;
  }

  .card {display:inline-block;}
  
  a:hover {
  color: #a53860;
  }

  .wrapper {
    width: 500px;
    height: auto;
    margin: 15px auto;
  }

  .profile-img {
      width: 60%;
      height: auto;
      border-radius: 50%;
      
  }
  
  #about-me {
      margin-bottom: 15px;
    }

  #spec-row1, #spec-row2 {
      margin-top: 20px;
  }

  p {
    font-size: 22px;
  }

  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 
  
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    
    .wrapper {
      width: auto;
      height: auto;
      margin: 15px auto;
    }
  
    #bio-img {
        width: 40%;
        height: auto;
        border-radius: 50%;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    
    .wrapper {
      width: auto;
      height: auto;
      margin: 15px auto;
    }
  
    #bio-img {
        width: 50%;
        height: auto;
        border-radius: 50%;
    }
  }
